<!-- remplir ici le message correspondant au mail admin, manque les liens(?) vers infos tel que user email etc -->
<!-- + format text a faire -->

<td class="header" bgcolor="#c7d8a7">
Hello!
</td>
<p> Bonjour <%= @order.user.email %> </p>

<p>

message from contact  

</p>