<!-- remplir ici le message correspondant au mail de paiement, manque les liens(?) vers infos tel que user email etc -->
<!-- + format texte à faire -->

<h1> On a eu une commande! </h1>

<p>elle provient de <%=@order.user.email%></p>