<!-- remplir ici le message correspondant au mail de paiement, manque les liens(?) vers infos tel que user email etc -->
<!-- + format texte à faire -->

<h1> au revoir </h1>

<p>

message from order  

</p>