/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
  *= require_tree .

 *= require all.min
 *= require swiper.min
 *= require animate.min
 *= require theme.min
 *= require theme
 *= require font-awesome


 */

.fa-user-circle {
  width: 35px !important; 
  height: 35px !important;;
}

.navbar, .bg-gradient-cart {
  background: linear-gradient(80deg,#ff9500 0,#ff6200 100%)!important;
}

nav a, a, .btn-group a {
  color: white;
}

.card-body a {
  color: rgb(31, 29, 29);
}

.card-body a:hover {
  color: rgb(95, 91, 91);
}

.dropdown-menu {
  width: 20px;
}

nav a:hover, .nav-link:hover {
    color: rgba(0, 0, 0, 0.664);
}

a:hover {
  color: rgba(226, 222, 222, 0.644);
}
#button-index {
  color: white;
  padding: 1px;
  width: 150px;
  background-color: #2E294E;
  opacity: 0.6;
  box-shadow: inset 0px 0px 183px 26px rgba(255,255,255,0.97);
}

#button-index:hover {
  color: rgb(155, 147, 147);
  padding: 1px;
  width: 150px;
  background-color: #2E294E;
  opacity: 0.6;
}

#button-link {
  color: white;
}

#payment-done {
   background-image: url('img/backgrounds/intro-left-orange.png');
   margin-top: -75px;

}

.position-absolute {
  margin-bottom: -7px !important;
}

footer {
  margin-top: -40px;
}

footer a {
  color: grey
}

#section-index-background {
  background-image: url('img/backgrounds/clouds-bottom.png');
  z-index: 100;
}

#cart-empty {
  background-image: url(cat_8.jpg); 
  background-position: center center; 
  height: 520px; 
  box-shadow: inset 0px 0px 40px 7px #000000;
}

.registers a {
  color: rgba(92, 85, 85, 0.514);
  margin-bottom: -200px
}

.registers{
  height: 650px;
  background-image: url('img/backgrounds/clouds-bottom.png');
  background-repeat: no-repeat;
  background-size: cover;

}

#pass-new {
  height: 375px;
  background-image: url('img/backgrounds/clouds-bottom.png');
  background-repeat: no-repeat;
  background-size: cover;
}

#cat-logo {
  background-image: url(cat-logo-dark.png);
  height: 60px;
}