<main>
    <section class="slice slice-lg bg-cover bg-lg-cover bg-size--contain" style="background-image: url('../assets/img/backgrounds/intro-left.svg'); background-position: left top;">
        <div class="container pt-lg-sm">
            <div class="row row-grid justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2 class="heading h1 text-white">Confirmation de paiement</h2>
                </div>
            </div>
            <div class="row row-grid justify-content-center mt-lg">
                <div class="col-lg-9">
                    <div class="card-deck flex-column flex-md-row">
                        <div class="card card-pricing zoom-in box-shadow-4 px-4 mx-0 mb-4">
                            <div class="card-header py-md text-center border-0">
                                <h4 class="mb-4">Merci ! Vous avez payé <strong><%=@order.total_price%>€</strong></h4>
                                <p class="text-muted">Vous receverez un récapitulatif de votre commande par mail très prochainement. Elle portera le n°<%=@order.id%> <br> J'vous aime putain ! <em>Amour et chocolat !</em></p>
                                <%= link_to "Retour à l'accueil", root_path, class: "btn btn-primary btn-icon mt-4"%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

